<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="AccessMap"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:supportsRtl="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCTVX3bCexKp8j0fI4guSI4X8WuIEBT7XI" />


        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />


    </application>

</manifest>
